.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.container--fullscreen {
  height:98vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro {
  /* color: #F9D342; */
  font-family: "IBM Plex Sans Condensed", sans-serif;

  color: rgb(87, 26, 26) ;
  text-shadow: 0px 0px 10px rgb(137,137,153);
  background-image: linear-gradient(to bottom, #f96167, #ff7b5f, #ff955b, #ffae5d, #ffc766, #ffcd7e, #ffd495, #ffdbac, #ffddcd, #ffe6ed, #fff4fe, #ffffff);
}

.navigation-container {
  width: 100vw;
  height: 5vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
}

.Home {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: space-between;
}

.space {
  height: 12vh;
  width: 100vh;
}

.navbar-container {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.home-picture {
  background-image: url('./images/cool-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text--home {
  text-shadow: 0px 0px 15px #a79b94;
}


.intro {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 5.5vh;
}

.name {
  font-family: 'Forum', cursive;
  font-size: 4.3vh;

}

.AboutMe {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #a79b94, #beb2b1, #d3cbcd, #e8e5e7, #ffffff);
}

.Projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfd, #f9f9fa, #f6f7f8, #f3f4f6);
  color: #282c34;
}

.project {
  border: 1px solid black;
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
}

.footer {
  width: 100vw;
}
