.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.container--fullscreen {
  height:98vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro {
  /* color: #F9D342; */
  color: white ;
  text-shadow: 0px 0px 10px rgb(137,137,153);
  background-image: linear-gradient(to top, #689eb8, #90b2c9, #b4c7d9, #d5dde8, #f3f4f6);}

.navigation-container {
  visibility: hidden;
  width: 100vw;
  height: 5vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
}

.Home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #689eb8, #86adc5, #a2bcd1, #bcccdd, #d5dde8, #dadde6, #dddde3, #dfdde1, #d2ccd0, #c5babd, #b7aaa8, #a79b94);}


.text--home {
  text-shadow: 0px 0px 10px rgb(119, 18, 18);
}


.intro {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 5.5vh;
}

.name {
  font-family: 'Forum', cursive;
  font-size: 4.3vh;

}

.AboutMe {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: pink;
}

.Projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: #282c34;
}

.project {
  border: 1px solid black;
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
