.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.container--fullscreen {
  height:98vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro {
  /* color: #F9D342; */
  color: rgb(130, 163, 179) ;
  text-shadow: 0px 0px 40px #d8d5d53e;
  background-image: linear-gradient(to bottom, #2a3031, #2d373a, #313f43, #34464d, #384e57);
  box-shadow: 0px 10px 20px 10px #364b54;
}

.navigation-container {
  visibility: hidden;
  width: 100vw;
  height: 5vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
}

.Home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-landscape {
  background-image: url("./images/forest-mountains-3v-1440x900.jpg");
  position: absolute;
  height: fill;
  width: fill;
  z-index: -1;
  filter: blur(3.5px);
}

.text--home {
  text-shadow: 0px 0px 300px #fffdfd;
}


.intro {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 5.5vh;
}

.name {
  font-family: 'Forum', cursive;
  font-size: 4.3vh;

}

.AboutMe {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: pink;
}

.Projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: #282c34;
}

.project {
  border: 1px solid black;
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
